.navbar-brand {
	font-size: 5rem;
	color: #ffe53b;
	height: 25px;
	font-weight: 700;
	/* color: #ffd902; */
}

.nav-link span {
	padding: 0 15px;
	font-size: 1.5rem;
	font-family: "Montserrat", sans-serif;
	transition: 1s ease-in;
}

.nav-link span:hover {
	color: #ff008c;
	/* text-decoration: underline; */
	/* transition-delay: 500ms; */
}

.navbar>.container-fluid {
	justify-content: flex-start;
	/* gap:6rem; */
	/* text-align: left; */
	/* margin: auto 0; */
}

.text h3,
h2,
h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	/* lekhar size gulo media dia komate hobe */
}

.text h1 {
	font-size: 5.6rem;
	/* font-size: clamp(3rem,1rem+10vw,5.6rem); */
	color: #ffe53b;
}

.text h2 {
	font-size: 3rem;
	/* font-size: clamp(1.5rem,1rem+10vw,3rem); */
}

.text h1::after {
	content: '';
	top: 0px;
	bottom: 0px;
	display: inline-block;
	width: 25%;
	height: 2px;
	border-radius: 5px;
	background: linear-gradient(90deg, #ffe53b, #ff2525);
	transform: translateY(-2000%);
}

.text h3 {
	font-size: 2.5rem;
	/* font-size: clamp(1rem,1rem+10vw,2.5rem); */
}

.regis-btn a {
	background-color: #181818;
	position: relative;
	padding: 30px 60px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font: 700 30px consolas;
	overflow: hidden;
}

.regis-btn a span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #171618, #3bff3b);
	animation: animate1 2s linear infinite;
}

/* ---------------ABOUT US--------------------- */
.container-about {
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* ----------------CONTACT------------------ */
.formbold-mb-5 {
	margin-bottom: 20px;
}

.formbold-pt-3 {
	padding-top: 12px;
}

.formbold-main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 48px;
}

.formbold-form-wrapper {
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	background: white;
}

.formbold-form-label {
	display: block;
	font-weight: 500;
	font-size: 16px;
	color: #07074d;
	margin-bottom: 12px;
}

.formbold-form-label-2 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.formbold-form-input {
	width: 100%;
	padding: 12px 24px;
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	background: white;
	font-weight: 500;
	font-size: 16px;
	color: #6b7280;
	outline: none;
	resize: none;
}

.formbold-form-input:focus {
	border-color: #6a64f1;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	padding: 14px 32px;
	border: none;
	font-weight: 600;
	background-color: #6a64f1;
	color: white;
	width: 100%;
	cursor: pointer;
}

.formbold-btn:hover {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
	margin-left: -12px;
	margin-right: -12px;
}

.formbold-px-3 {
	padding-left: 12px;
	padding-right: 12px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w-full {
	width: 100%;
}

@media (min-width: 540px) {
	.sm\:w-half {
		width: 50%;
	}
}


@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.regis-btn a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #171618, #3bff3b);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}

.regis-btn a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #171618, #3bff3b);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.regis-btn a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #171618, #3bff3b);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}

@media screen and (max-width: 465px) {
	.text h1::after {
		transform: translate(-125%, 1000%);
	}

	.text h3 {
		padding-top: 25px;
	}

}