.content {
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	height: 100%;
	background: rgb(0, 0, 0);
	/* Fallback color */
	background: rgba(0, 0, 0, 0.7);
	/* Black background with 0.5 opacity */
	color: #f1f1f1;
	width: 40%;
}


@keyframes loader {

	0%,
	10%,
	100% {
		width: 80px;
		height: 80px;
	}

	65% {
		width: 160px;
		height: 160px;
	}
}

@keyframes loaderBlock {

	0%,
	30% {
		transform: rotate(0);
	}

	55% {
		background-color: #F37272;
	}

	100% {
		transform: rotate(90deg);
	}
}

@keyframes loaderBlockInverse {

	0%,
	20% {
		transform: rotate(0);
	}

	55% {
		background-color: #F37272;
	}

	100% {
		transform: rotate(-90deg);
	}
}

.preloader_loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%) rotate(45deg);
	animation: loader 1.2s infinite ease-in-out;
}

.preloader_loader span {
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	background-color: #EE4040;
	animation: loaderBlock 1.2s infinite ease-in-out both;
}

.preloader_loader span:nth-child(1) {
	top: 0;
	left: 0;
}

.preloader_loader span:nth-child(2) {
	top: 0;
	right: 0;
	animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.preloader_loader span:nth-child(3) {
	bottom: 0;
	left: 0;
	animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.preloader_loader span:nth-child(4) {
	bottom: 0;
	right: 0;
}

.preloader_communique {
	color: white;
	font-family: 'Playfair Display', serif;
	font-size: 100%;
}

.preloader {
	background-color: #584E4A;
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	z-index: 9999;
}

.content123 {
	display: none;
}

.icons {
	display: inline-block;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
	font-family: 'Poppins', sans-serif;
}


.navbar-brand {
	font-size: 5rem;
	color: #ffe53b;
	height: 25px;
	font-weight: 700;
	/* color: #ffd902; */
}

/* .font{
	font-family:"Poppins", sans-serif ;
} */

.nav-link span {
	padding: 0 15px;
	font-size: 1.5rem;
	font-family: "Montserrat", sans-serif;
	transition: 0.3s all linear;
	font-weight: 500;
}

.nav-link span:hover {
	color: #2370d4;
	cursor: pointer;
	/* text-decoration: underline; */
	/* transition-delay: 500ms; */
	/* text-decoration: underline; */
}

.navbar>.container-fluid {
	justify-content: flex-start;
	/* gap:6rem; */
	/* text-align: left; */
	/* margin: auto 0; */
}

.text h3,
h2,
h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	/* lekhar size gulo media dia komate hobe */
}

.text h1 {
	font-size: 5.6rem;
	/* font-size: clamp(3rem,1rem+10vw,5.6rem); */
	color: #ffe53b;
}

.text h2 {
	font-size: 3rem;
	/* font-size: clamp(1.5rem,1rem+10vw,3rem); */
}

/* .text h1::after {
	content: '';
	top: 0px;
	bottom: 0px;
	display: inline-block;
	width: 25%;
	height: 2px;
	border-radius: 5px;
	background: linear-gradient(90deg, #ffe53b, #ff2525);
	transform: translateY(-2000%);
} */

.text h3 {
	font-size: 2.5rem;
	/* font-size: clamp(1rem,1rem+10vw,2.5rem); */
}

.regis-btn a {
	background-color: #181818;
	position: relative;
	padding: 30px 60px;
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font: 700 30px consolas;
	overflow: hidden;
	transition: 0.3s all linear;
}

.regis-btn a:hover {
	/* background: #5f5e5e; */
	letter-spacing: 8px;
}

.regis-btn a span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #171618, #3bff3b);
	animation: animate1 2s linear infinite;
}

/* ---------------ABOUT US--------------------- */
.container-about {
	padding: 100px 0;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

/* ---------------Speakers Section---------------- */

.speakers{
    /* background-color: #114a96; */
    min-height: 100vh;
    align-items: center;
    text-align: center;
}
.speakers h1{
  font-weight: 800;
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  color: #B2B2B2;
  padding-top: 15px;
  padding-bottom: 15px;
  font-style: normal;
}
.col-items{
  padding: 10px;
}
.col-items h5{
  font-size: 1.5rem;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 3px;
}
.col-items span{
  font-size: 1.2rem;
}
.imgg{
  margin: auto;
  padding: 5px;
  width: 150px;
  height: 150px;
}
.img{
  background-color: white;
}

.im{
  background-color: white;
}
.social{
  position: relative;
  top: 5px;
  display:flex;
  justify-content: center;
}
.social-link {
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    color: #666;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    visibility: hidden;
    tr
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.social-link i{
 font-size: 1.4rem;

}
.col-items:hover .social-link{
  visibility: visible;
  transform: scale(1.1);
}
.col-items:hover .im{
background: #81C6E8;
}
.col-items:hover .imgg{
  background:  #81C6E8;
}

/* -----sponsorship section----- */

.sponsorship_main{
  /* background-color: #89b7d1; */
}
.sponsorship__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-align: center;
  color: white;
  color: black;
  margin-top: 30px;
  letter-spacing: -0.2rem;
  padding-bottom: 40px;
}

.sponsorship__title__span {
  color: #9d0191;
}
.sponsor__image {
  max-height: 300px;
  min-width: 300px;
}
.sponsorship__image{
  display: flex;
  justify-content: center;
  padding: 5px 10px 15px 10px;;
}
/* ----------------CONTACT------------------ */

.bg-img {
	background-image: url(JU.jpg);
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: #fff;
	padding: 60px 0 40px 0;
	/* height: 99%; */
	background-blend-mode: darken;
	/* width: 100%; */
}

.formbold-mb-5 {
	margin-bottom: 20px;
}

.formbold-pt-3 {
	padding-top: 12px;
}

.formbold-main-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 48px;
}

.formbold-form-wrapper {
	margin: 0 auto;
	max-width: 550px;
	width: 100%;
	background: white;
}

.formbold-form-label {
	display: block;
	font-weight: 500;
	font-size: 16px;
	color: #07074d;
	margin-bottom: 12px;
}

.formbold-form-label-2 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.formbold-form-input {
	width: 100%;
	padding: 12px 24px;
	border-radius: 6px;
	border: 1px solid #e0e0e0;
	background: white;
	font-weight: 500;
	font-size: 16px;
	color: #6b7280;
	outline: none;
	resize: none;
}

.formbold-form-input:focus {
	border-color: #6a64f1;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
	text-align: center;
	font-size: 16px;
	border-radius: 6px;
	padding: 14px 32px;
	border: none;
	font-weight: 600;
	background-color: #6a64f1;
	color: white;
	width: 100%;
	cursor: pointer;
}

.formbold-btn:hover {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold--mx-3 {
	margin-left: -12px;
	margin-right: -12px;
}

.formbold-px-3 {
	padding-left: 12px;
	padding-right: 12px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.w-full {
	width: 100%;
}


#venue {
	padding: 60px 0;
}

#venue .JU {
	margin-bottom: 3px;
}

.JU {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.section-header {
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 2;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
}



.section-header h2 {
	font-size: 40px;
	font-family: sans-serif;
	text-align: center;
	font-weight: 800;
	margin-bottom: 15px;
	transition: all 0.2s ease-in-out;

}



.section-header p {
	text-align: center;

	margin: 0;
	font-size: 20px;
	font-weight: 700;
	color: #e3edef;
}


#venue {
	background: rgba(0, 0, 0, 0.49) url(sb3\ \(1\).png) no-repeat;
	background-size: cover;
	overflow: hidden;
	position: relative;
	color: #fff;
	padding: 60px 0 40px 0;
	background-blend-mode: darken;



}

#venue.JU {
	visibility: visible;
}

.happening {
	text-decoration: none;
	color: #fff;
}



.aboutju {
	position: relative;
	max-width: 600px;
	padding: 60px;
	background: rgba(255, 255, 255, .2);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	margin-top: 10px;

	margin-left: 900px;
	margin-right: 10px;
	margin-bottom: 10px;
	align-items: center;
	text-align: center;

}

.aboutju h3 {
	font-size: 20px;
	font-family: sans-serif;
	padding: 5px;
}

.aboutju p {
	padding: 10px;
}

.aboutju b {
	padding: 3px;

}

.aboutju a {
	text-decoration: none;
	color: white;
}

.aboutju a:hover {
	transition-delay: 0.1s;
	color: rgb(185, 186, 192);
}


@media (min-width: 540px) {
	.sm\:w-half {
		width: 50%;
	}
}


@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(100%);
	}
}

.regis-btn a span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to bottom, #171618, #3bff3b);
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(100%);
	}
}

.regis-btn a span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to left, #171618, #3bff3b);
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}

	100% {
		transform: translateX(-100%);
	}
}

.regis-btn a span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 3px;
	background: linear-gradient(to top, #171618, #3bff3b);
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}

	100% {
		transform: translateY(-100%);
	}
}

@media screen and (max-width: 465px) {
	.text h1::after {
		transform: translate(-125%, 1000%);
	}

	.text h3 {
		padding-top: 25px;
	}

}

.home_bg {
	/* background: rgba(0, 0, 0, 0.49) url(home_bg.jpeg) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
	height: 100%;
	width: 100%;
	margin-top: 10px; */
	/* background-blend-mode: darken; */
	background: rgba(0, 0, 0, 0.5) url(home_bg.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
	background-blend-mode: darken;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: fixed;
	/* position: sticky; */
	z-index: 1;
	/* padding: 60px 0 40px 0; */
}

/* style="background-image:url(home_bg.jpeg); width: 100%;height: 100%; opacity:1; background-position: center; background-repeat:no-repeat; */

.btn {
	width: 150px;
	height: 50px;
	z-index: 1;
	margin: 0px 12px;
	padding: 10px 25px;
	border-radius: 30px;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
}

.accept-btn {
	border: 2px solid white;
	color: white;
	transition: all 0.3s ease;

	border-color: white;
}

.accept-btn:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
	-webkit-transform: scale(0.1);
	transform: scale(0.1);
}

.accept-btn:hover {
	color: #114a96;
	/* background-color: #fff; */
	border: 2px solid transparent;
}

.accept-btn:hover:after {
	background: #fff;
	background-color: white;
	-webkit-transform: scale(1);
	transform: scale(1);
	border-radius: 20px;
	font-size: large;
}

.btn_register {
	width: 150px;
	height: 50px;
	z-index: 2;
	margin: 0px 12px;
	padding: 10px 25px;
	border-radius: 30px;
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	letter-spacing: 2px;
	font-weight: 700;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	border-color: white;
	transition: 0.3s all ease;
	/* transform: translate(-50%,-50%); */
}

.btn_register:hover {
	background: #2370d4;
	color: #fff;
	border-color: transparent;
}

/* style="height:4rem;width:30rem;transform:translate(15px,-10px);" */

.heading_new {
	font-size: 5.6rem;
	color: #181818;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "Poppins", sans-serif;
	text-align: center;
}



@media (min-width: 768px) {

	#contact .contact-address,
	#contact .contact-phone,
	#contact .contact-email {
		padding: 20px 0;
	}
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
	margin-bottom: 20px;
}

#contact .contact-info {
	margin-bottom: 20px;
	text-align: center;
}

.event_cards {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 4px 1px grey;
	border-radius: 5px;
	margin: 5px 5px;
	padding: 25px;
	/* min-width: 350px; */
	/* min-height: 200px; */
}

/* dekhenis */
@media (max-width: 770px) {
	.col-ukd {
		flex-direction: column;
		/* min-width: none;
		min-height: none; */
	}

	.event_cards{
		min-width: none;
		min-height: none;
	
	}
}
