.content {
  position: relative;
  top: 0;
  left:0;
  margin: 0;
  height: 100%;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.7); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 40%;
}


@keyframes loader {
  0%, 10%, 100% {
    width: 80px;
    height: 80px; }
  65% {
    width: 160px;
    height: 160px; } }
@keyframes loaderBlock {
  0%, 30% {
    transform: rotate(0); }
  55% {
    background-color: #F37272; }
  100% {
    transform: rotate(90deg); } }
@keyframes loaderBlockInverse {
  0%, 20% {
    transform: rotate(0); }
  55% {
    background-color: #F37272; }
  100% {
    transform: rotate(-90deg); } }
.preloader_loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: loader 1.2s infinite ease-in-out; }
  .preloader_loader span {
    position: absolute;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #EE4040;
    animation: loaderBlock 1.2s infinite ease-in-out both; }
    .preloader_loader span:nth-child(1) {
      top: 0;
      left: 0; }
    .preloader_loader span:nth-child(2) {
      top: 0;
      right: 0;
      animation: loaderBlockInverse 1.2s infinite ease-in-out both; }
    .preloader_loader span:nth-child(3) {
      bottom: 0;
      left: 0;
      animation: loaderBlockInverse 1.2s infinite ease-in-out both; }
    .preloader_loader span:nth-child(4) {
      bottom: 0;
      right: 0; }

.preloader_communique {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 100%; }
.preloader{
  background-color: #584E4A;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 100;
}
.content123
{
  display: none;
}

.icons
{
  display: inline-block;
}